<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>Name: </span>{{hero.name}}</div>

<div>
    <label for="name">Hero name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<h2>My heroes</h2>
<ul class="heroes">
    <li *ngFor = "let hero of heroes">
        <button [class.selected] = "hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
